<%# <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VIPoop</title>
  </head>
  <body>

    <header>
      <h1>&#128169; VIPoop &#128169;</h1>

      <h2> Becuase we all make poop</h2>
    </heder>

    <main>
     <h2> Our Philosophy </h2>

     <p>VIPoop strives to deliver its community with vital information on poops</p>

     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    </main>%>


    <%# <footer>
      <p> Made with love by Captain Brad</p>

      <p> please do not use this website for weird sex meet-ups, we are here to discuss stricly poop</p>


  </body>
</html>%>

<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="poopTitle">
        <h1 class="title has-text-purple">
          &#128169; VIPoop &#128169;
        </h1>
      </div>
      <h2 class="subtitle has-text-purple">
        <strong>Because shit happens... quite literally...</strong>
      </h2>
    </div>
  </section>


      <section class="section">
          <div class="container">

  <p>Here at VIPoop we understand that when you're out and about its never great to make poop as most public toilets are pretty crap</p>

  <p>But we all make poop so why should this experiance be unpleasant?</p>

  <p> Our mission is to share the creme de la creme of public poop places with Londoners </p>

  <p> Because afterall, you should be able to part ways with your big kahuna in an amicable and respectful manner</p>

  <br>

  <strong><h2 class="subtitle"> Welcome to the VIPoop community</h2></strong>

</div>
</section>






    </div>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
  <p> Made with love by Captain Brad</p>

  <p> please do not use this website for weird sex meet-ups, we are here to discuss stricly poop</p>
</div>
  </div>
</footer>
