<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VIPoop</title>
  </head>
  <body>

    <header>
      <h1>&#128169; VIPoop &#128169;</h1>

      <h2> Becuase we all make poop</h2>
    </heder>

    <main>
     <h2> Our Philosophy </h2>

     <p>VIPoop strives to deliver its community with vital information on poops</p>

     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    </main>


    <footer>
      <p> Made with love by Captain Brad</p>

      <p> please do not use this website for weird sex meet-ups, we are here to discuss stricly poop</p>


  </body>
</html>
